/*html {
    background: #fbf3ff;
}

body {
    height: 100%;
    background: #fbf3ff;
}*/

html,
body {
    height: 100%;
    background: #fbf3ff;
}

#nonFooter {
    min-height: calc(100vh - 50px)
}

.navegador {
    background: linear-gradient(45deg, #636fa3, #4b5890);
    color: white;
    font-size: 20px;
}

a {
    color: white;
}

.imagen {
    width: 80px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(179, 143, 202);
}

.user {
    height: 50px;
}

.logout {
    height: 40px;
}

.cart,
.ficha {
    height: 20px;
}

.ficha:hover {
    background: rgb(35, 27, 151);
}

.stock {
    height: 200px;
}

.dropdown-menu input:hover {
    cursor: pointer;
}

.buscar {
    width: 20px;
    border-top-color: red;
}

.perfil a:hover {
    color: rgb(241, 234, 234);
    text-decoration: none;
}

.navbar-toggler {
    background: white;
}

.card {
    background: linear-gradient(45deg, #636fa3, #4b5890);
}

navbar-toggler-icon {
    color: black;
}